–ò–º–ø–æ—Ä—Ç –±–∏–±–∏–ª–∏–æ—Ç–µ–∫

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import emoji
import nltk

In [6]:
df1 = pd.read_csv('../data/raw/1.csv')
df2 = pd.read_csv('../data/raw/2.csv')
df3 = pd.read_csv('../data/raw/3.csv')
df4 = pd.read_csv('../data/raw/4.csv')
df5 = pd.read_csv('../data/raw/5.csv')
df6 = pd.read_csv('../data/raw/6.csv')

In [7]:
print(df1.info())
print(df2.info())
print(df3.info())
print(df4.info())
print(df5.info())
print(df6.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     1000 non-null   object
 1   image2text   568 non-null    object
 2   speech2text  338 non-null    object
dtypes: object(3)
memory usage: 23.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     1000 non-null   object
 1   image2text   418 non-null    object
 2   speech2text  191 non-null    object
dtypes: object(3)
memory usage: 23.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     1000 non-null   object
 1   image2text   521 non-null    object
 2   speech2text  202 non-null    object
dtypes: object(3)
memory usage: 23.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     1000 non-null   object
 1   image2text   678 non-null    object
 2   speech2text  342 non-null    object
dtypes: object(3)
memory usage: 23.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     1000 non-null   object
 1   image2text   622 non-null    object
 2   speech2text  202 non-null    object
dtypes: object(3)
memory usage: 23.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   doc_text     1000 non-null   object
 1   image2text   613 non-null    object
 2   speech2text  596 non-null    object
dtypes: object(3)
memory usage: 23.6+ KB
None

In [8]:
df1['class'] = 1
df2['class'] = 2
df3['class'] = 3
df4['class'] = 4
df5['class'] = 5
df6['class'] = 6

In [9]:
df_gen = pd.concat([df1, df2, df3, df4, df5, df6]).reset_index()
df_gen

,index,doc_text,image2text,speech2text,class
0,0,–¢–≤–æ–π –ª—É—á—à–∏–π —Å–µ–∫—Å —Å–ø—Ä—è—Ç–∞–Ω –∑–¥–µ—Å—å üîû –î–µ–ª—é—Å—å –∫–∞–Ω–∞–ª...,NaN,NaN,1
1,1,‚≠êÔ∏è –ö–Ω–æ–ø–∫–∞: ‚≠êÔ∏èSTART‚≠êÔ∏è(https://t.me/major/start...,NaN,NaN,1
2,2,–ê –ø—Ä–æ–¥–æ–ª–∂–µ–Ω–∏–µ –≥–¥–µ? –ü—Ä–∞–≤–∏–ª—å–Ω–æ. –í –º–æ–µ–º —Å–æ–æ–±—â–µ—Å—Ç–≤...,–¥–µ–≤—á–æ–Ω–∫–∏ –Ω–µ —É–º–µ—é—Ç –ø–µ—Ä–µ–ø–∏—Å—ã–≤–∞—Ç—å—Å—è sanille –æ–Ω–∏ —ç...,NaN,1
3,3,–¢–µ–º –≤—Ä–µ–º–µ–Ω–µ–º –º–æ—è –∞–≤—Ç–æ—Ä—Å–∫–∞—è —Ç–µ–ª–µ–≥–∞ —É–≤–µ—Ä–µ–Ω–Ω–æ –≤ —Ç...,10:42 nuil –ø—É–ª telegram ^ 51 142 –ø–æ–¥–ø–∏—Å—á–∏–∫–∞ 12...,NaN,1
4,4,"–£ –º–µ–Ω—è –µ—Å—Ç—å –¥–≤–æ—é—Ä–æ–¥–Ω–∞—è —Å–µ—Å—Ç—Ä–∞, —É –Ω–µ–µ –µ—Å—Ç—å —Å—ã–Ω ...","—Ç —Å –Ω–µ ^ –µ z 8 * \""8 –Ω–∏—á–µ–≥–æ –Ω–µ –∑–Ω–∞–ª–∞ –æ —Å—Ç–µ–Ω–¥–∞–ø...",NaN,1
...,...,...,...,...,...
5995,995,"–û—Ç–∫–∞–∑–∞–ª–∏ –Ω–æ–≥–∏, —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–∞—è —Å–∏—Ç—É–∞—Ü–∏—è! #—â–µ—Ä–±–∞–∫–æ...",NaN,"–ù–æ—á—å, –æ–∂–∏–¥–∞–Ω–∏—è, —Ö–æ–ª–æ–¥, –±–æ–ª—å, —Å–ª–æ–≤–Ω–æ —è —Ä–∞—Å–∫–æ–ª, ...",6
5996,996,–û—Å—Ç–æ—Ä–æ–∂–Ω–æ –ø—Ä–æ–ø–∞–ª–∞ —Å–æ–±–∞–∫–∞! #–∞–ª–µ–∫—Å–µ–π—â–µ—Ä–±–∞–∫–æ–≤ #—â–µ...,(–ø–∞–ø—É—Å–æ–≤^ —Ö,–í—Å–µ–≥–¥–∞ –æ—á–µ–Ω—å –æ–±–∏–¥–Ω–æ —á–∏—Ç–∞—Ç—å –ø–æ–¥–æ–±–Ω—ã–µ —Ä–æ–¥–Ω—ã–µ –æ–±—ä...,6
5997,997,–î–ª—è –≤–∞—à–∏—Ö –æ–≥–æ–Ω—ë—á–∫–æ–≤üî•,v –∫ –≤–∏–¥–µ–æ,–Ω–∞ —Ç–µ–ª–µ—Ñ–æ–Ω–∞—Ö –æ–≥–æ–Ω—ë—á–∫–∏ –≤–¥—Ä—É–≥ –∑–∞–∂–∏–≥–∞–µ—Ç –ø–æ–ª–Ω—ã–π –∑–∞...,6
5998,998,#–∑–∏–º–∏–Ω–∞—Ä—É–ª–∏—Ç üòÇüòÇüòÇ #–∞–∫—Ç—Ä–∏—Å–∞—Ç–µ–∞—Ç—Ä–∞–∏–∫–∏–Ω–æ #–≤–∏–∫—Ç–æ—Ä–∏...,–æ 6,"–ß—Ç–æ –≤—ã —É–º–µ–µ—Ç–µ –¥–µ–ª–∞—Ç—å? –í—Å—ë. –°—Ç—Ä–µ–ª—è—Ç—å, –≤–∞—Ä–∏—Ç—å —Ö–∞...",6
5999,999,"–î–µ–≤–æ—á–∫–∏, –Ω—É –º—ã?! @katiashmatia –ø—Ä–∞–≤–∏–ª—å–Ω–æ –ø–æ—Å—Ç...",NaN,–º–∏–ª–∞—è –æ–Ω –Ω–µ –æ—Ç–≤–µ—á–∞–µ—Ç –º–Ω–µ –Ω–∞ —Å–æ–æ–±—â–µ–Ω–∏—è —É–∂–µ —á–µ—Ç—ã...,6

In [10]:
df_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        6000 non-null   int64
 1   doc_text     6000 non-null   object
 2   image2text   3420 non-null   object
 3   speech2text  1871 non-null   object
 4   class        6000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.5+ KB